<%= stylesheet_link_tag 'message', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'message', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="currentRoomId" data-room-id="<%= params[:id] %>"></div>
<div id="currentUserId" data-user-id="<%= @current_user.id %>"></div>

<div class="container">
    <div class="messages-container my-5">
        <div class="message-header">
            <p class="name-of-user"><a href="/profile/<%= @current_user.id %>"><%= @current_user.user_name %></a></p>
            <div class="chatting-user">
                <%  if params[:id] %>
                    <% chatting_user = User.find(params[:id][2]) %>
                        <%= image_tag chatting_user.user_profile %>
                        <div class="user-info"> <a id="userNameInMessage" href="/profile/<%= chatting_user.id %>"><%= chatting_user.user_name %></a>
                            <p class="status-of-user">Active Now</p>
                        </div>
                <% else %>
                        <div class="user-info ms-5"> <a id="userNameInMessage">Chatting user</a>
                            <p class="status-of-user">Status of user</p>
                        </div>
                <% end %>
            </div>
        </div>
        <div class="user-chattings">
          <div class="chatting-names-of-user">
          <% if friends.length > 0 %>
            <% friends.each do |friend_id| %>
                <% @user = User.find(friend_id) %>
                <% room_id = @current_user.id.to_i < @user.id.to_i ? "#{@current_user.id}_#{@user.id}" : "#{@user.id}_#{@current_user.id}" %>
               <a href="/message/<%= room_id %>">
                <div class="user-chatting <%= is_messaging(room_id) %>">
                    <img src="<%= asset_path 'user-default-icon.png' %>" alt="">
                    <p class="user-name">
                        <%= @user.user_name %>
                    </p>
                </div>
                </a>
              <% end %>
            <% else%>
                <a>
                    <div class="user-chatting">
                        <p class="user-name no-chat m-5">
                            No friends available <br> to chat...😞
                        </h2>
                    </div>
                </a>
            <% end %>



            </div>
            <% if params[:id] %>
                <div class="chattings-details">
                    <div class="details-of-chatting">
                        <div class="message beginning">
                            This is the very beginning of your conversation
                        </div>
                        <% messages.each do |message| %>
                            <%= render "messages/message", message: message, current_user_id: @current_user.id %>
                        <% end %>
                    </div>
                    <%= form_with  url: "/message/new/#{params[:id]}",authenticity_token: true, remote: true,method: "put" do |f| %>
                        <input type="text" name="input" class="form-control input-lg" autocomplete="off" id="inputsm" placeholder="Send a message or link...">
                        <input type="submit" class="btn btn-primary" value="Send">
                    <% end %>
                </div>
            <% else %>
             <div class="chattings-details">
                    <div class="details-of-chatting no-chattings">
                    Select a user to show the chattings of you both

                    </div>
            </div>
            <% end %>

        </div>


    </div>
</div>
