<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://apis.google.com/js/platform.js" async defer>
    function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
</script>

<meta name="google-signin-client_id" content="829821209241-ifumfipv89knk98sffoma32btnjb3lda.apps.googleusercontent.com">

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>


<%= form_with( model: @user, url: "/users/login", method: 'POST' ) do |form| %>

    <div class="row m-5">
        <h1 class="heading">Login</h1>

        <div class="input-group my-3">
            <input class="form-control" type="text" title="Please enter a proper Mail-id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="user[email]" onfocusout="loginButton()" required value="" id="userName" placeholder="E-mail Id">
        </div>
        <div class="input-group my-3">
            <input class="form-control" id="password" type="password" title="Please enter more than 8 characters that include special characters like ., and numbers" pattern="(?=.*\d)(?=.*[A-Za-z]).(?=.*[.,\-_]).{8,}" name="user[password]" onfocusout="loginButton()" required
                value="" placeholder="Password">
            <img src="<%= asset_path "showPassword.png" %>" class="showPassword" onclick="showPassword(event)" alt="">
        </div>
        <button type="submit" class="btn btn-primary my-4 ms-5" disabled>Login</button>

        <div class="or">
            OR
        </div>
        <span>
                <a href="/users/forgotPassword">Forgot password ?</a>
        </span>

    </div>
<% end %>

<div class="signUpNow">
    Don't have an account ? <a href="/users/new"> Sign Up</a>

        <%= google_sign_in_button proceed_to: create_login_url,class: "google-sign-in-button" do %>
            Sign in with <%= image_tag 'google.webp', alt: 'Google',width: "20%" %>
        <% end %>

</div>
<div class="downloadNow">
    <div class="getNow">Get the App now...</div>
    <a href="https://apps.apple.com/us/app/freshsales/id1073125057?ls=1" target="_blank"><img src="<%= asset_path "appleStore.jpg" %>" alt=""></a>
    <a href="https://play.google.com/store/apps/details?id=com.freshdesk.freshsales.mobile" target="_blank"><img src="<%= asset_path "google.jpg" %>" alt=""></a>
</div>
<div class="moreInfo">
    <div class="pages">
        <a href="/search?q=about" class="page">About</a>
        <a href="/search?q=termsAndConditions" class="page">FWSA</a>
        <a href="/search?q=topAccounts" class="page">Top Accounts</a>
        <a href="/search?q=support" class="page">Customer Support</a>
        <a href="/search?q=music" class="page">Music</a>
        <a href="/search?q=freshworks" class="page">Freshworks</a>
        <a href="/search?q=designing" class="page">Designing</a>
        <a href="/search?q=help" class="page">Help</a>
        <a href="/search?q=jobs" class="page">Jobs</a>
        <a href="/search?q=homeGarden" class="page">Home Gardening</a>
        <a href="/search?q=visualArts" class="page">Visual Arts</a>
        <a href="/search?q=foodAndDrink" class="page">Food & Drink</a>
        <a href="/search?q=dance" class="page">Dance</a>
        <a href="/search?q=about" class="page">Terms and Conditions</a>

    </div>
    <div class="copyRights">
        © 2022 Webspire from Freshworks
    </div>
</div>
