<%= stylesheet_link_tag "login", media: "all", 'data-turbolinks-track': "reload" %>
<%= javascript_include_tag "login", media: "all", 'data-turbolinks-track': "reload" %>

<%= form_with(model: @user, url: users_resetPassword_path(token: params[:token]), method: "post") do |form| %>

    <div class="row m-5">
        <h2 class="heading mb-3">Reset your password</h2>

        <div class="input-group my-3">
            <input class="form-control" type="password" title="Please enter more than 8 characters that include special characters like ., and numbers" id="password" pattern="(?=.*\d)(?=.*[A-Za-z]).(?=.*[.,\-_]).{8,}" name="user[password]" required
                value="" placeholder="New Password">
            <img src="<%= asset_path "showPassword.png" %>" class="showPassword" onclick="showPassword(event)" alt="">
        </div>
           <div class="input-group my-3">
            <input class="form-control" type="password" title="Please enter more than 8 characters that include special characters like ., and numbers" id="confirm_password" pattern="(?=.*\d)(?=.*[A-Za-z]).(?=.*[.,\-_]).{8,}" name="user[confirm_password]" required
                value="" placeholder="Confirm New Password">
            <img src="<%= asset_path "showPassword.png" %>" class="showPassword" onclick="showConfirmPassword(event)" alt="">
        </div>

        <button type="submit" class="btn btn-primary my-4 ms-5">Reset Password</button>

    </div>
<% end %>
