<%= stylesheet_link_tag 'signUp', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'signUp', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= form_with(model: @user,url: "/users",methd: "post") do |form| %>
    <div class="row m-5">
        <h1 class="heading">Sign Up</h1>
        <h4>Chat and know about your friends online</h4>
        <div class="login">
            <img src="" alt="">
            <%= link_to "Login Now..!",users_login_path, class:"btn btn-primary my-4 px-4 py-1" %>
        </div>
        <div class="or">
            OR
        </div>
      
        <div class="input-group my-3">
            <input class="form-control" type="text" name="user[user_name]" required onfocusout="signUpButton()" value="" pattern="[a-zA-Z_0-9]{5,}" id="userName" required placeholder="User Name">
        </div>
          <div class="input-group my-3">
            <input class="form-control" type="text" name="user[email]" onfocusout="signUpButton()" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email" required placeholder="E-mail">
        </div>
        <div class="input-group my-3">
            <input class="form-control" type="text" name="user[mobile_number]" onfocusout="signUpButton()" pattern="[789][0-9]{9}" id="mobileNumber" required placeholder="Mobile Number">
        </div>
        <div class="input-group my-3">
            <input class="form-control" type="password" name="user[password]" onfocusout="signUpButton()" value="" id="password" title="Please enter more than 8 characters that include special characters like ., and numbers" pattern="(?=.*\d)(?=.*[A-Za-z])(?=.*[.,\-_]).{8,}" required
                placeholder="Password">
            <img src="<%= asset_path "showPassword.png" %>" class="showPassword" onclick="showPassword(event)" alt="">
        </div>
        <div class="input-group my-3">
            <input class="form-check-input me-3" type="checkbox" onfocusout="signUpButton()" id="ourAgreement">
            <label for="ourAgreement"> Agree to our Policy </label>
        </div>
        <button type="submit" class="btn btn-primary m-5 p-1" id="submitBtn" disabled>Sign Up</button>
    </div>
<% end %>