<title>Home Page</title>
<div class="container justify-content-center">

    <!--  carouseel for stories -->
    <div class="stories" >
        <div class="multiple-items">
            <div>
                <%= form_with url: "/profile/story", id: "story-form", method: "put" do |f| %>
                    <%= f.file_field :story_img, style: "display:none", onchange: "uploadStory()", id: "story-file", accept: "image/jpg,image/jpeg,image/png" %>
                <% end %>
                <% if @current_user.story.present? %>
                    <a href="/profile/stories">
                        <%= image_tag @current_user.story, class: "story-image", title: "Your Story" %>
                    </a>
                        <p class="nameOfUser"><%= @current_user.user_name %></p>
                <% else %>
                    <%= image_tag "add-story-icon.png", onclick: "openStoriesDialog()", class: "story-image default", title: "Add Story" %>
                <% end %>
            </div>
            <% if @users_id.length < 10 %>
               <% for i in 2...13 %>
                 <% user = User.find(i) %>
                    <% if user.story.present? %>
                        <div>
                            <a href="/profile/stories"><%= image_tag user.story, class: "story-image" %></a>
                            <p class="nameOfUser">Webspire</p>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        <% @users_id.each do |user_id| %>
        <% user = User.find(user_id) %>
        <% if user.story.present? %>
            <% unless user.id == @current_user.id %>
                <div>
                    <a href="/profile/stories"><%= image_tag user.story, class: "story-image" %></a>
                    <p class="nameOfUser"><%= user.user_name %></p>
                </div>
            <% end %>
        <% end %>
        <% end %>
        </div>
    </div>

    <!-- carousel to view post -->

    <div class="postsContainer">
        <%= render @posts %>
    </div>

    <div id="infinite-scrolling">
        <%= will_paginate @posts %>
    </div>

</div>

<div class="post-comments">
    <div class="close-button">
        <h2 style="margin:0 58% 0 0;">Comments</h2>
        <img src="<%= asset_path "close-icon.webp" %>" width="7%" onclick="hideComments()" alt="">
    </div>
    <div class="comments-container">

    </div>
</div>
<div class="more-option-box-container" onfocusout="hideMoreOption()">
    <div class="more-option-box">
        <div class="option cancel">
            <p>
                <a href="" id="reportPost">Report this Post</a>
            </p>

        </div>
        <div class="option ">
         <a href="" id="goToPost">
            <p>Go to Post</p>
        </a>
        </div>
        <div class="option ">
            <p id="copy-link" data-link>Copy Link</p>

        </div>
        <div onclick="hideMoreOption() " class="option last ">
            <p>Cancel</p>

        </div>
    </div>
</div>


<%= javascript_include_tag "pagination", media: "all", 'data-turbolinks-track': "reload" %>
<%= javascript_include_tag "home", media: "all", 'data-turbolinks-track': "reload" %>
