<title>Home Page</title>
<div class="container justify-content-center">

    <!--  carouseel for stories -->
    <div class="stories" >
        <div class="multiple-items">
            <div>
                <%= form_with url: "/profile/story", id: "story-form", method: "put" do |f| %>
                    <%= f.file_field :story_img, style: "display:none", onchange: "uploadStory()", id: "story-file" %>
                <% end %>
                <% if @current_user.story.present? %>
                <a href="/profile/stories">
                    <%= image_tag  @current_user.story,class: "story-image", title: "Your Story" %>
                </a>
                <% else %>
                    <%= image_tag "add-story-icon.png", onclick: "openStoriesDialog()", class: "story-image default" ,title: "Add Story" %>
                <% end %>
            </div>
        <% @users.each do |user| %>
        <% if user.story.present? %>
            <% unless user.id == @current_user.id %>
                <div>
                    <a href="/profile/stories"><%= image_tag user.story , class: "story-image"%></a>
                    <p class="nameOfUser"><%= user.user_name %></p>
                </div>
            <% end %>
        <% end %>
        <% end %>
        </div>
    </div>

    <!-- carousel to view post -->

    <div class="postsContainer">
        <%= render "posts" %>
    </div>
</div>

<div class="post-comments">
    <div class="close-button">
        <img src="<%= asset_path "close-icon.webp" %>" width="7%" onclick="hideComments()">
    </div>
    <div class="comments-container">
        <div class="comment-container">
            <div class="comment-details">
                <div class="commentor-profile">
                    <img src="<%= asset_path "user-default-icon.png"%>" alt="">
                </div>
                <p class="commentor">Mohammed Hasan</p>
                <p class="commented-time">25 July 2003</p>
            </div>
            <div class="comment">
            lorem20 jken jkesdn ckjzn dczjkn dczkjkn wsjckz dcjk,b djn wdkjcn djkcbm djkcb jkam
            lorem20 jken jkesdn ckjzn dczjkn dczkjkn wsjckz dcjk,b djn wdkjcn djkcbm djkcb jkam

            lorem20 jken jkesdn ckjzn dczjkn dczkjkn wsjckz dcjk,b djn wdkjcn djkcbm djkcb jkam

            </div>
        </div>

    </div>
</div>
<div class="more-option-box-container" onfocusout="hideMoreOption()">
    <div class="more-option-box">
        <div class="option cancel">
            <p>
                <a href="mailto:mohammed.hasan@fwsa.freshworks.com">Report this Post</a></p>

        </div>
        <div class="option ">
            <p>Go to Post</p>

        </div>
        <div class="option ">
            <p>Copy Link</p>

        </div>
        <div onclick="hideMoreOption() " class="option last ">
            <p>Cancel</p>

        </div>
    </div>
</div>

<%= javascript_include_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
