<%= stylesheet_link_tag 'message', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
    <div class="messages-container my-5">
        <div class="message-header">
            <p class="name-of-user"><a href="/profile/<%= @current_user.id %>"><%= @current_user.user_name %></a></p>
            <div class="chatting-user">
                <img src="<%= asset_path 'activity.png' %>" alt="">
                <div class="user-info"> <a href="">   Mohammed Riyas</a>
                    <p class="status-of-user">Active 1 hour before</p>
                </div>
            </div>
        </div>
        <div class="user-chattings">
          <div class="chatting-names-of-user">
            <% @friends.each do |friend| %>
                <% if friend.user_id == @current_user.id %>
                        <% user = User.find(friend.follower_id) %>
                <% else %>
                        <% user = User.find(friend.user_id) %>
                <% end %>
               <a href="/message/<%= user.id %>">
                <div class="user-chatting active">
                    <img src="<%= asset_path 'user-default-icon.png' %>" alt="">
                    <p class="user-name">
                        <%= user.user_name %>
                    </p>
                </div>
                </a>
              <% end %>
            </div>
            <div class="chattings-details">
                <div class="details-of-chatting">
                        <div class="message response">Hello
                        </div>
                </div>
                <%= form_with model: @message, url: "message/new", remote: true,method: "put" do |f| %>
                    <input type="text" name="message[input]" class="form-control input-lg" autocomplete="off" id="inputsm" placeholder="Send a message or link...">
                    <input type="submit" class="btn btn-primary" value="Send">
                <% end %>
            </div>


        </div>


    </div>
</div>
