
 <% @posts.each do |post| %>
    <% user = User.find(post.user_id) %>
        <div class="post-container">
        <div class="post-bg">
            <%= image_tag post.posts.first %>
        </div>
            <div class="post-info">
                <div class="user-profile">
                    <a href="profile/<%= user.id %>">
                        <%= image_tag user.user_profile, width: "100%", height: "100%", style: "border-radius:50%;" %>
                    </a>
                </div>
                <div class="username">
                    <a href="profile/<%= user.id %>">
                        <%= user.user_name %>
                    </a>
                    <div class="posted-time">
                        <%= post.created_at.strftime("%d %B %Y") %>
                    </div>
                </div>

                <div class="more-option" onclick="showMoreOption(<%= post.id %>)">
                    <img src="<%= asset_path "more-icon.png" %>" width="100%" alt="">
                </div>
            </div>

            <div class="post-content">
                <% post.posts.each do |post| %>
                    <div>
                        <% if post.content_type == "video/mp4" %>
                             <video id="my-video"
                                class="video-js post-video"
                                controls
                                preload="auto"
                                width="100%"
                                height="100%"
                                data-setup="{}" loading="lazy">
                                <source src="<%= url_for(post) %>" type="video/mp4" />
                            </video>
                        <% else %>
                            <%= image_tag post, class: "active-post", width: "100%", height: "100%", loading: "lazy" %>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <div class="post-credits">
                <div class="credits">
                    <div class="likes-container">
                        <%= form_for post, url: "/post/like/#{post.id}", authenticity_token: true, remote: true, method: "put" do |f| %>
                                <% if post.liked?(@current_user.id) %>
                                    <%= image_submit_tag "liked-icon.png", class: "like", "liked" => "true", onclick: "updateLike(#{post.id},event)", title: "Disike this post" %>
                                <% else %>
                                    <%= image_submit_tag "like-icon.png", class: "like", "liked" => "false", onclick: "updateLike(#{post.id},event)", title: "Like this post" %>
                                <% end %>
                        <% end %>

                        <p class="likes-count" id="likesCountForPost<%= post.id %>"><%= post.likes %></p>
                    </div>
                    <div class="post-comments-container">
                        <% @comments = Comment.where(post_id: post.id) %>
                        <% @all_users = User.where(id: @comments.map { |comment| comment.user_id }) %>
                        <img class="comment" title="Comments" onclick="showComments(<%= @comments.to_json %>,<%= @all_users.to_json %>,<%= @current_user.id %>,<%= @all_users.to_h { |user| [user.id, url_for(user.user_profile)] }.to_json %>)" src="<%= asset_path "comment-icon.png" %>" alt="">
                        <p>
                            <%= @comments.length %>
                        </p>
                    </div>
                        <img class="bookmark" title="Bookmark this" src="<%= asset_path "bookmark-icon.png" %>" alt="">
                </div>

                <div class="post-description-container">
                    <p class="post-description">
                        <strong> Description :</strong> <%= post.description ? post.description : "No description provided" %></p>
                </div>

                <%= form_with url: "/comment/#{post.id}", class: "comment-box", method: "put", remote: true, :html => { :onsubmit => " addComment(#{@current_user.to_json},'#{url_for(@current_user.user_profile)}',#{post.id})" } do |form| %>
                    <input type="submit" value="Send"class="add-comment-button">
                    <input id="add-comment-<%= post.id %>"  name="comment" class="form-control add-comment" title="Please enter something" required type="text" placeholder="Add a comment...">
                <% end %>
            </div>
        </div>
    <% end %>





  <script src="https://vjs.zencdn.net/7.20.1/video.min.js"></script>
