    <title>Activity Page</title>
<%= stylesheet_link_tag 'activity', media: 'all', 'data-turbolinks-track': 'reload' %>

  <div class="container p-3 mt-1">
        <div class="activity-container">
            <h1 class="my-4">Activity</h1>
            <div class="activity-content">
                <div class="friend-requests">
                    <div class="user-img">
                        <img src="<%= asset_path "multi-user-default-icon.png"%>" alt="">
                    </div>
                    <div class="activity">
                        <a href="/activity/requests" class="friend-requests-link">Show Friend Requests</a>
                    </div>
                </div>
                <% @activities.each do |activity| %>
                    <div class="friend-requests">
                        <div class="user-img">
                        <% user = User.find(activity.sender_id) %>
                            <%= image_tag user.user_profile %>
                        </div>
                        <div class="activity">
                            <a href="/profile/<%= user.id %>" class="user-name"><%= user.user_name %></a><%= activity.activity %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

    </div>
