    <title>Edit Profile Page</title>

<%= stylesheet_link_tag 'editProfile', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
    <div class="user-profile-container">
        <div class="user-img mx-5">
            <%= image_tag @current_user.user_profile %>
        </div>
        <div class="user-details">
            <p class="user-name">
                <%= @current_user.user_name %>
            </p>
            <a onclick="showUploadDialogBox()" class="profile-photo">Change profile photo </a>
            <%= form_with model: @user, url: "/profile/editProfile", method: "put" do |f| %>
                <%= f.file_field :user_profile, id: "profile-photo-input", onchange: "this.form.submit()" %>
            <% end %>
        </div>
    </div>

    <div class="profile-edit-container">
        <%= form_with model: @user,url:"/profile/edit", method: "post", class:"profile-edit-form" do |f|%>
            <div class="row g-3 my-2 align-items-center">
                <div class="col-auto label">
                    <label for="username" class="col-form-label">User Name</label>
                </div>
                <div class="col-auto input">
                    <input onchange="showSubmitButton()" name="user[user_name]" value="<%= @current_user.user_name %>" type="text" id="username" class="form-control">
                </div>
                <div class="col-auto description">
                    <span id="passwordHelpInline" class="form-text">
                    User name is the unique name through which other users can identify you
                    </span>
                </div>

            </div>
            <div class="row g-3 my-2 align-items-center">
                <div class="col-auto label">
                    <label for="username" class="col-form-label">Describe Yourself</label>
                </div>
                <div class="col-auto input">
                    <textarea onchange="showSubmitButton()" name="user[description]" type="text" id="username" class="form-control"><%= @current_user.description %></textarea>
                </div>
                <div class="col-auto description">
                    <span id="passwordHelpInline" class="form-text">
                    Share some personal information of yourself so that other users come to know about you
                    </span>
                </div>

            </div>
            <div class="row g-3 my-2 align-items-center">
                <div class="col-auto label">
                    <label for="username" class="col-form-label">E-mail</label>
                </div>
                <div class="col-auto input">
                    <input onchange="showSubmitButton()" name="user[email]" value="<%= @current_user.email %>" type="text" id="username" class="form-control">
                </div>
                <div class="col-auto description">
                    <span id="passwordHelpInline" class="form-text">
                    </span>
                </div>

            </div>
            <div class="row g-3 my-2 align-items-center">
                <div class="col-auto label">
                    <label for="username" class="col-form-label">Gender</label>
                </div>
                <div class="col-auto input">
                    <select class="form-select" onchange="showSubmitButton()" name="user[gender]" aria-label="Default select example">
                        <option value="male" <%= @current_user.gender == "male" ? "selected" : "" %>>Male</option>
                        <option value="female" <%= @current_user.gender == "female" ? "selected" : "" %>>Female</option>
                        <option value="not say" <%= @current_user.gender == "not say" ? "selected" : "" %>>Rather not say</option>
                    </select>
                </div>
                <div class="col-auto description">
                    <span id="passwordHelpInline" class="form-text">
                    </span>
                </div>

            </div>
            <button type="submit" class="btn btn-primary my-4 ms-5" disabled>Edit</button>
        <% end %>
    </div>
</div>

<script>
    function showUploadDialogBox() {
        $('#profile-photo-input').trigger('click');
    }

    function showSubmitButton() {
        $('.btn.btn-primary').removeAttr('disabled');
    }
</script>
