<%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'profile', 'data-turbolinks-track': 'reload' %>
<title>Profile Page</title>
<div class="container">

    <div class="user-profile-container">
        <div class="user-img mx-5">
            <%= image_tag @user.user_profile %>
        </div>

        <div class="user-details">
            <div class="user-name">
                <%= @user.user_name %>
                <% if @user.id == @current_user.id %>
                <a href="/profile/edit" class="edit-profile m-5">
                    <%= image_tag "edit-icon.png", width:"8%" %>
                </a>
                <% end %>
            </div>
            <div class="user-description">
                <div class="score">
                    <p class="user-score">200 points</p>
                </div>
                <div class="followers">
                    <div>
                        <strong>100</strong> Posts
                    </div>
                    <div>
                        <strong>100</strong> Followers
                    </div>
                    <div>
                        <strong>100</strong> Following
                    </div>
                </div>
                <div class="user-info">
                    <strong><%= @user.name %></strong> <br>
                    <%= @user.description %>
                </div>
                <% unless @current_user.id == @user.id %>
                <div class="follow-requests">
                    <button class="btn btn-primary">Follow</button>
                </div>
                <% end %>
            </div>

        </div>
    </div>
</div>
<h2 class="post-header">Your Posts</h2>
<div class="user-posts">
<% unless @user.posts.present? %>
        <h2 class="nothing-posted"> No posts posted yet..!</h2>
<% end %>
<% @user.posts.each do |post| %>
<div class="post">
    <a href="/post/<%= post.id %>">
        <% if @user.id == @current_user.id %>
            <div class="delete-post">
                <a href="/post/edit/<%= post.id %>">
                    <img src=" <%= asset_path "edit-icon.png" %>" title="Edit" alt="">
                </a href="/post/delete/<%= post.id %>">
                <a onclick="deletePostConfirmation(<%=post.id %>)" >
                    <%= image_tag "delete-icon.jpg", title: "Delete Post", data: {confirm: "are" } %>
                </a>
            </div>
        <% end %>
        <%= image_tag post, class: "post-img" %>
    </a>
</div>
<% end %>
</div>
