<%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'profile', 'data-turbolinks-track': 'reload' %>
<title>Profile Page</title>
<div class="container">

    <div class="user-profile-container">
        <div class="user-img mx-5">
            <%= image_tag @user.user_profile %>
        </div>

        <div class="user-details">
            <div class="user-name">
                <%= @user.user_name %>
                <% if @user.id == @current_user.id %>
                <a href="/profile/edit" class="edit-profile m-5">
                    <%= image_tag "edit-icon.png", width:"8%" %>
                </a>
                <% end %>
            </div>
            <div class="user-description">
                <div class="score">
                    <p class="user-score">200 points</p>
                </div>
                <div class="followers">
                    <div>
                        <strong>100</strong> Posts
                    </div>
                    <div>
                        <strong>100</strong> Followers
                    </div>
                    <div>
                        <strong>100</strong> Following
                    </div>
                </div>
                <div class="user-info">
                    <strong><%= @user.name %></strong> <br>
                    <%= @user.description %>
                </div>
                <% unless @current_user.id == @user.id %>
                <div class="follow-requests">
                    <button class="btn btn-primary">Follow</button>
                </div>
                <% end %>
            </div>

        </div>
    </div>
</div>
<h2 class="post-header">Your Posts</h2>
<div class="user-posts">
<% unless @posts.present? %>
        <h2 class="nothing-posted"> No posts posted yet..!</h2>
<% end %>
<% @posts.each do |post| %>
<div class="post">
    <a href="/post/<%= post.id %>">
        <% if @user.id == @current_user.id %>
            <div class="delete-post">
                <a onclick="editPost('<%= post.id %>','<%= post.description %>','<%= post.posts.first %>')">
                    <img src=" <%= asset_path "edit-icon.png" %>" title="Edit" alt="">
                </a href="/post/delete/<%= post.id %>">
                <a onclick="deletePostConfirmation(<%=post.id %>)" >
                    <%= image_tag "delete-icon.jpg", title: "Delete Post", data: {confirm: "are" } %>
                </a>
            </div>
        <% end %>
        <%= image_tag post.posts.first, class: "post-img" %>



    </a>
</div>
<% end %>
</div>


</div>
 <div class="edit-post-container">
            <div class="edit-post-dialog-box">
               <%= form_with model: @user,url:"/post/create", method: "post", class:"profile-edit-form" do |f|%>
                <div class="row g-3 my-2 align-items-center">
                    <div class="col-auto label">
                        <label for="username" class="col-form-label ms-4">Post : </label>
                    </div>
                    <div class="col-auto input" id="postImage">

                    </div>
                </div>
                <div class="row g-3 my-2 align-items-center">
                    <div class="col-auto label">
                        <label for="username" class="col-form-label">Description:</label>
                    </div>
                    <div class="col-auto input">
                        <textarea cols="40" rows="5"  id="postDescription" class="form-control" ></textarea>
                    </div>
                </div>
                <div class="post-options">
                    <button type="button" class="btn btn-outline-danger" onclick="closeEditPost()">Cancel</button>
                    <button type="submit" class="btn btn-primary my-4 ms-5" id="submit-post">Post</button>
                </div>
        <% end %>
    </div>
</div>
