<%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'profile', 'data-turbolinks-track': 'reload' %>
<title>Profile Page</title>
<div class="container">

    <div class="user-profile-container">
        <div class="user-img mx-5">
            <%= image_tag @user.user_profile %>
        </div>

        <div class="user-details">
            <div class="user-name">
                <%= @user.user_name %>
                <% if @user.id == @current_user.id %>
                <a href="/profile/edit" class="edit-profile m-5">
                    <%= image_tag "edit-icon.png", width:"8%" %>
                </a>
                <% end %>
            </div>
            <div class="user-description">
                <div class="score">
                    <p class="user-score">0 points</p>
                </div>
                <div class="followers">
                    <div>
                        <strong><%= @user.posts.length %></strong>
                        <%= @user.posts.length > 1 ? "Posts" : "Post" %>
                    </div>
                    <div>
                        <strong><%= @user.friends.length %></strong> Friends
                    </div>

                </div>
                <div class="user-info">
                    <strong><%= @user.name %></strong> <br>
                    <%= @user.description %>
                </div>
                <% unless @current_user.id == @user.id %>
                <div class="follow-requests">
                    <% if @current_user.friend(@user.id) %>
                        <a class="btn btn-outline-primary">
                           Already Friend<strong> ☑</strong>
                        </a>
                         <a class="btn btn-danger" href= "/profile/unfollow/<%= @user.id %>" >
                            Remove Friend
                        </a>
                        <% else %>
                        <% if @request_sent.length == 0 %>
                            <a class="btn btn-primary" href= "/profile/request/<%= @user.id %>" data-remote="true" onclick="setTimeout">
                                    Add Friend
                            </a>
                        <% else %>
                          <a class="btn btn-primary">
                                    Request Sent
                          </a>
                        <% end %>
                    <% end %>
                </div>
                <% end %>
            </div>

        </div>
    </div>
</div>
<h2 class="post-header">Your Posts</h2>
<div class="user-posts">
<% unless @posts.present? %>
        <h2 class="nothing-posted"> No posts posted yet..!</h2>
<% end %>
<% @posts.each do |post| %>
    <div class="post">
      <a href="/post/<%= post.id %>" class="view-post-link">
            <% if @user.id == @current_user.id %>
                <div class="delete-post">
                    <a onclick="editPost('<%= post.id %>','<%= post.description %>','<%= url_for(post.posts.first) %>')">
                        <img src=" <%= asset_path "edit-icon.png" %>" title="Edit" alt="">
                    </a href="/post/delete/<%= post.id %>">
                    <a onclick="deletePostConfirmation(<%= post.id %>)" >
                        <%= image_tag "delete-icon.jpg", title: "Delete Post" %>
                    </a>
                </div>
            <% end %>
            <%= image_tag post.posts.first, class: "post-img" %>
      </a>
    </div>
<% end %>

 <div class="edit-post-container">
            <div class="edit-post-dialog-box">
               <%= form_with model: @post,url: "", method: "post", class:"profile-edit-form",authenticity_token: false, id:"editForm" do |f|%>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" autocomplete="off">
                <div class="row g-3 my-2 align-items-center">
                    <div class="col-auto input">
                        <img id="postImage" class="editPostImage">
                    </div>
                </div>
                <div class="row g-3 my-2 ">
                    <div class="col-auto label">
                        <label for="username" class="col-form-label">Description:</label>
                    </div>
                    <div class="col-auto input">
                        <textarea cols="40" rows="5" name="post[description]" id="postDescription" class="form-control" ></textarea>
                    </div>
                </div>
                <div class="post-options">
                    <button type="button" class="btn btn-outline-danger" onclick="closeEditPost()">Cancel</button>
                    <button type="submit" class="btn btn-primary my-4 ms-5" id="submit-post">Edit</button>
                </div>
        <% end %>
    </div>
</div>
