<%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
<title>Profile Page</title>
<div class="container">

    <div class="user-profile-container">
        <div class="user-img mx-5">
            <%= image_tag @user.user_profile %>
        </div>

        <div class="user-details">
            <div class="user-name">
                <%= @user.user_name %>
                <% if @user.id == @current_user.id %>
                <a href="/profile/edit" class="edit-profile m-5">
                    <img src="<%= asset_path "edit-icon.png" %>" width="5%" alt="Edit Option">
                </a>
                <% end %>
            </div>
            <div class="user-description">
                <div class="score">
                    <p class="user-score">20000000 points</p>
                </div>
                <div class="followers">
                    <div>
                        <strong>1000</strong> Posts
                    </div>
                    <div>
                        <strong>1000</strong> Followers
                    </div>
                    <div>
                        <strong>1000</strong> Following
                    </div>
                </div>
                <div class="user-info">
                    <strong>Mohammed Hasan</strong> <br> yjnef v Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi officiis impedit quaerat laborum? Laborum minima sequi nobis in excepturi incidunt nesciunt praesentium eius a alias!
                    Dolorem iste doloribus corporis labore!
                </div>
                <div class="follow-requests">
                    <button class="btn btn-primary">Follow</button>
                    <button class="btn btn-outline-danger">Unfollow</button>
                </div>
            </div>

        </div>
    </div>
</div>
<h2 class="post-header">Your Posts</h2>
<div class="user-posts">
    <div class="post">
        <img src="<%= asset_path "activity.png" %>" alt="">
    </div>
    <div class="post">
        <img src="<%= asset_path "activity.png" %>" alt="">
    </div>
    <div class="post">
        <img src="<%= asset_path "activity.png" %>" alt="">
    </div>
    <div class="post">
        <img src="<%= asset_path "activity.png" %>" alt="">
    </div>
    <div class="post">
        <img src="<%= asset_path "appleStore.jpg" %>" alt="">
    </div>
    <div class="post">
        <img src="<%= asset_path "google.jpg" %>" alt="">
    </div>
    <div class="post">
        <img src="<%= asset_path "activity.png" %>" alt="">
    </div>

</div>
