 <%= stylesheet_link_tag 'story', media: 'all', 'data-turbolinks-track': 'reload' %>

  <div class="stories-container">
    <a href="/" class="close-icon">
      <img src="<%= asset_path "close-icon.webp" %>" >
    </a>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <% users.each do |user| %>
            <% if user.story.present? %>
                <div class="carousel-item <%= users.first ? "active" : "" %>">
                <div class="story-container">
                  <div class="user-details">
                    <%= image_tag user.user_profile, class: "user-profile" %>
                      <p class="user-name">
                        <a href="/profile/<%= user.id %>">
                          <%= user.user_name %>
                        </a>
                      </p>
                  </div>
                  <%= image_tag user.story, class: "user-story" %>
                </div>

              </div>

          <% end %>
          <% end %>
      </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"> </span>
      </a>

    </div>
</div>
