 <%= stylesheet_link_tag "story", media: "all", 'data-turbolinks-track': "reload" %>

  <div class="stories-container">
  <%= link_to "/story/delete/#{@current_user.id}", method: "delete", title: "Delete your story", data: { confirm: "Are you sure to delete your story ?" }, class: "delete-story-icon" do %>
    <%= image_tag "delete-icon.jpg", width: "5%" %>
 <% end %>
    <a href="/" class="close-icon">
      <img src="<%= asset_path "close-icon.webp" %>" alt="">
    </a>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <% for i in 0..users.length - 1 %>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="<%= "active" if i == 0 %>" aria-current="true" aria-label="Slide "></button>
          <% end %>
      </div>
         <div class="carousel-inner">

          <% users.each do |user| %>
            <% if user.story.present? %>
                <div class="carousel-item <%= user.id %>">
                <div class="story-container">
                  <div class="user-details">
                    <%= image_tag user.user_profile, class: "user-profile" %>
                      <p class="user-name">
                        <a href="/profile/<%= user.id %>">
                          <%= user.user_name %>
                        </a>
                      </p>
                  </div>
                  <%= image_tag user.story, class: "user-story" %>
                </div>
              </div>
            <% end %>
            <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
</div>

<script>
$(document).ready(() => {
  document.getElementsByClassName("carousel-item")[0].classList.add("active");
  });

</script>
