<%= stylesheet_link_tag 'loading', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= javascript_include_tag 'loading', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= javascript_include_tag 'jquery.easy-autocomplete','data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>


<div class="loading">
    <img src="<%= asset_path 'Webspire-logo.gif' %>" alt="">
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light p-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="<%= asset_path 'Webspire_Logo-removebg-preview.png' %>" width="100%" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item ms-5">
                    <a class="nav-link <%= is_active("home") %>" aria-current="page" href="/"><img title="Home" src="<%= asset_path'home-icon.png' %>" width="90%" alt=""></a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link <%= is_active("show") %> <%= is_active("message") %>" href="/message"><img title="Message" src="<%= asset_path'message-icon.png' %>" width="90%" alt=""></a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link <%= is_active("explore") %>" href="/" tabindex="-1"><img title="Explore" src="<%= asset_path"explore.png" %>" width="90%" alt=""></a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link <%= is_active("activity") %>" href="/profile/activity" tabindex="-1">
                        <img title="Activity" src="<%= asset_path "activity.png" %>" width="90%" alt="">
                        <% if Activity.where("sender_id = ? and status != ?", @current_user.id, "seen" ).length > 0 %>
                            <button class="btn btn-danger notification-count">
                                <%= Activity.where("sender_id = ? and status != ?", @current_user.id, "seen" ).length %>
                            </button>
                        <% end %>
                    </a>

                </li>
                    <li class="nav-item ms-5">
                    <a class="nav-link" aria-current="page"><img title="Add Post" src="<%= asset_path'add-post-icon.png' %>" onclick="openPostDialog()" width="90%" alt=""></a>
                </li>

            </ul>
            <form class="d-flex search-form" action="/searching" data-method="get" data-remote="true" >
                <input class="form-control me-2" type="search"  data-behavior="autocomplete"
                name="q" id="search" value="<%= params[:q] %>" placeholder="Search a user or post..?" aria-label="Search">
                <button class="btn btn-outline-success" id="searchButton" type="submit">Search</button>
            </form>

            <li class="nav-item ms-3 dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= image_tag @current_user.user_profile, class: "user-profile" %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="/profile/<%= @current_user.id %>">View Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/profile/edit">Edit Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Bookmarks</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item last" href="/signOut">Sign Out...</a></li>
                </ul>
            </li>
        </div>
    </div>
</nav>

<div class="post-dialog-container" onfocusout="hideMoreOption()">
    <div class="post-dialog-box">
   <%= form_with url:"/post/create", method: "post", class:"profile-edit-form" do |f|%>
            <div class="row g-3 my-2 align-items-center">
                <div class="col-auto label">
                    <label for="username" class="col-form-label ms-4">Post : </label>
                </div>
                <div class="col-auto input">
                    <%= f.file_field :user_post, multiple:true, required: true %>
                </div>
            </div>
            <div class="row g-3 my-2 align-items-center">
                <div class="col-auto label">
                    <label for="username" class="col-form-label">Description:</label>
                </div>
                <div class="col-auto input">
                    <textarea cols="40" rows="5" onchange="showSubmitButton()" required name="description" type="text" id="username" class="form-control"></textarea>
                </div>
            </div>
            <div class="post-options">
                <button type="button" class="btn btn-outline-danger" onclick="closePostDialog()">Cancel</button>
                <button type="submit" class="btn btn-primary my-4 ms-5" id="submit-post">Post</button>
            </div>
        <% end %>
    </div>
</div>



<script>

// document.addEventListener("turbolinks:load", () => {
//       $("#search").focus(() => {
//             $('.easy-autocomplete-container').css({'z-index':'5'})
//         });
//         $("#search").focusout(() => {setTimeout(() => {
//             $('.easy-autocomplete-container').css({'z-index':'-1'})

//         },1000);
//         });
//     $input = $("#search");
//     var options = {
//         getValue: "name",
//         url: (phrase)=> {
//             return `/searching?q=${phrase}`
//         },
//         template: {
//             type: "iconLeft",
//             fields: {
//                 iconSrc: "icon"
//             }
// 	    },
//         categories:[
//             {
//                 listLocation: "users",
//                 header: "<strong>Search Results for Users :</strong>"
//             },
//             {
//                 listLocation: "posts",
//                 header: "<strong>Search Results for Posts :</strong>"
//             }
//         ],
//         list: {
//             onChooseEvent: function(){
//               var url = $input.getSelectedItemData().url;
//               console.log("url "+url);
//               $input.val("");
//               Turbolinks.visit(url);
//             },
//             match: {
//                 enabled: true
//              },
//         }
//     };
//     $input.easyAutocomplete(options);
// })
//     $(document).ready(() => {
//         setInterval(()=> {
//             if(document.getElementsByClassName("alert")[0]){
//               document.getElementsByClassName("alert")[0].style.display = "none";
//             }
//         },6000);
//         Notification.requestPermission().then((permission) => {
//         handlePermission(permission);
//     });
//     // setInterval(()=> {
//         let users = '<%= User.all.as_json %>'.replace(/&quot;/ig,'').replace(/&gt;/ig,'').replace(/=/g,':').replace(/[a-z]:/g,'":"').replace(/, /g,'","').replace(/}"/g,'"}').replace(/"{/g,'{"').replace('[{','[{"').replace('}]','"}]')
//         console.log(JSON.parse(users));
//         for(i in users.length){

//         }

//         // },1000);
//     });
//      function handlePermission(permission) {
//         document.getElementById("notification-icon").src =
//         Notification.permission === 'granted' ? '<%= asset_path "notification.jpg" %>' : '<%= asset_path "disable-notification.png" %>' ;
//     }

// let ting = new Audio("<%= asset_path 'bell.mp3' %>");

//     function notification(){
//         Notification.requestPermission().then((permission) => {
//             handlePermission(permission);
//             ting.play();
//         }).catch(() => {
//                 console.log("rejected");
//         });
//     }

</script>
