<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'slick', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'slick-theme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" href="<%= asset_path "Webspire-logo.gif" %>">
    
    <%= javascript_include_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'slick.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# Need to add logo  %>

</head>

<body>

    <%= yield %>
 
</body>
</html>